%h1
  Available tasks for
  = @iteration.name

- @stories.each do |story|
  %div
    %h2
      = story.name
    - if story.tasks
      %ul
        - story.tasks.each do |task|
          %li
            = task.name
