%h1
  Available tasks for iteration
  = @iteration.name

- @stories.each do |story|
  %div
    %h2
      = story.name
    - if story.tasks
      %ul
        - story.tasks.each do |task|
          - if task.state == 'Defined'
            %li
              = task.name
              = link_to "Work on it!", assign_tasks_path(:id => task.object_i_d)
