<!doctype html>
%html.no-js{:lang => "en"}
  %head
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    / 1.
    %link{:charset => "utf-8", :href => "http://printer.gofreerange.com/stylesheets/print.css", :media => "screen", :rel => "stylesheet", :title => "no title", :type => "text/css"}
      / 2.
      %script{:charset => "utf-8", :src => "http://printer.gofreerange.com/javascripts/printer.js", :type => "text/javascript"}
      %script{:charset => "utf-8", :type => "text/javascript"}
        $(function() {
        $("#previewPage").click(Printer.previewPage);
        $("#printPage").click(function() {
        \// var printerID = prompt("Enter the ID of the printer to target");
        var printerID = 'http://printer.gofreerange.com/print/2y5m4g5u6s3t8v1r'
        Printer.printPage(printerID, function(result) {
        if (result.response == "ok") {
        alert("Page successfully sent for printing");
        } else {
        alert("There was a problem sending this content");
        console.log("Error response", result);
        }
        });
        });
        })
  %body.preview
    / 3.
    .controls
      %a#previewPage{:href => "#"} Preview
      %a#printPage{:href => "#"} Print
    .paper
      / 4.
      .content
        %h1 A Rally Ticket
        %p Do shit loads of coding!
        %img{:src => 'qr_code.svg?', :width => '380px', :height => '380px' }